/* Reset de márgenes y altura completa */
body, html {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

h1{
    margin-bottom: 40px;
    font-size: 55px;
}
.container {
  display: flex;
  height: 100vh;
}
.left-side {
  flex: 1;
  background: url('imagen\ index.webp') no-repeat center center;
  background-size: cover;
}

.right-side {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: white;
}
form {
  width: 100%;
  max-width: 400px;
}
input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
}
button {
  width: 100%;
  padding: 12px;
  background: #da5603;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background: #ff7402;
}
